.menuBar li{
	display: inline-block;
}

.menuBar a{
	text-decoration: none;
	color: white;
	padding: 50px;
}

.menuBar a:hover{
	text-decoration: none;
	color: blue;
}

.menuBar ul{
	text-align: center;
	font-size: 24px;
	position: fixed;
	width: 100%;
	background: red;
	
}

#home{
	text-align: center;
	padding: 250px;
}

.jumbotron{
	padding: 200px;
}

h3{
	text-align: center;
}

#about p{
	text-align: center;
	overflow-wrap: break-word;
}

p{
	text-align: center;
}


#projects li{
	display: inline-block;
	padding: 15;
}

#projects li img{
	display: block;
	width: 100%;
	height: auto;
}

.p-gallery{
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

.i-gallery img{
	width: 100%;
	height: auto;
}

.i-gallery{
	border: 1px solid #ccc;
}

.i-gallery .desc{
	text-align: center;
}

@media only screen and (max-width: 700px){
    .p-gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .p-gallery {
        width: 100%;
    }
}
